# Mac OS X
*.DS_Store

# Xcode

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*xcworkspace/xcuserdata/*

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

Ringzz/Pods/AcknowList/
Ringzz/Pods/CropViewController/
Ringzz/Pods/Firebase/
Ringzz/Pods/FirebaseAnalytics/
Ringzz/Pods/FirebaseCore/
Ringzz/Pods/FirebaseCoreDiagnostics/
Ringzz/Pods/FirebaseCrashlytics/
Ringzz/Pods/FirebaseInstallations/
Ringzz/Pods/GoogleAppMeasurement/
Ringzz/Pods/GoogleDataTransport/
Ringzz/Pods/GoogleUtilities/
Ringzz/Pods/GoogleWebRTC/
Ringzz/Pods/Headers/
Ringzz/Pods/HKDFKit/
Ringzz/Pods/IQKeyboardManagerSwift/
Ringzz/Pods/Kanna/
Ringzz/Pods/Locksmith/
Ringzz/Pods/nanopb/
Ringzz/Pods/PhoneNumberKit/
Ringzz/Pods/PromisesObjC/
Ringzz/Pods/Realm/
Ringzz/Pods/RealmSwift/

Ringzz/Pods/Target\ Support\ Files/AcknowList/
Ringzz/Pods/Target\ Support\ Files/CropViewController/
Ringzz/Pods/Target\ Support\ Files/Firebase/
Ringzz/Pods/Target\ Support\ Files/FirebaseAnalytics/
Ringzz/Pods/Target\ Support\ Files/FirebaseCore/
Ringzz/Pods/Target\ Support\ Files/FirebaseCoreDiagnostics
Ringzz/Pods/Target\ Support\ Files/FirebaseCrashlytics/
Ringzz/Pods/Target\ Support\ Files/FirebaseInstallations/
Ringzz/Pods/Target\ Support\ Files/GoogleAppMeasurement/
Ringzz/Pods/Target\ Support\ Files/GoogleDataTransport/
Ringzz/Pods/Target\ Support\ Files/GoogleUtilities/
Ringzz/Pods/Target\ Support\ Files/GoogleWebRTC/
Ringzz/Pods/Target\ Support\ Files/HKDFKit/
Ringzz/Pods/Target\ Support\ Files/IQKeyboardManagerSwift/
Ringzz/Pods/Target\ Support\ Files/Kanna/
Ringzz/Pods/Target\ Support\ Files/Locksmith/
Ringzz/Pods/Target\ Support\ Files/nanopb/
Ringzz/Pods/Target\ Support\ Files/PhoneNumberKit/
Ringzz/Pods/Target\ Support\ Files/PromisesObjC/
Ringzz/Pods/Target\ Support\ Files/Realm/
Ringzz/Pods/Target\ Support\ Files/RealmSwift/
Carthage/Build

#fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

#Code Injection
iOSInjectionProject/
